@@include('./include/_head.html', {
	"page": "Main"
})
	
</head>
<body class="Main">

<div class="wrapper">
	<h1 class="hidden">오션투유리조트 설악비치 호텔앤콘도</h1>
	
	@@include('./include/_header.html')

	<div class="contents">
        <!-- 메인 -->
        <section class="main-sec">
            <div class="container">
                <div class="bxBox main" id="bxBox-geomdo">
                    <ul class="bxS">
                        <li></li>
                        <li>
                            <div class="fc-li-box">
                                <div class="fc-txt-box">
                                    <p class="fc-li-tit">제61회 춘계 전국 중·고등학교검도대회</p>
                                    <p class="fc-li-txt">
                                        전국 중·고등학교검도대회는 수련을 통해 심신 단련,
                                        인격 수양하는 학생 검도인의 대련과 축제의 장입니다.
                                        금년 춘계 대회는 강원도 고성종합체육관에서 개최되오니 많은 참관을 부탁드립니다.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> 
        </section>
        <!--// 메인 -->
        
        <!-- 대회안내 -->
        <section id="info" class="info-sec">
            <div class="container">
                <h2 class="tit">
                    <img class="hidden-xs" src="http://img.ocean2you.co.kr/renew/landing-brand/tit_info.png" alt="대회안내">
                    <img class="show-xs" src="http://img.ocean2you.co.kr/renew/m/landing-brand/tit_info.png" alt="대회안내">
                </h2>
                <p class="sub-tit">
                    전국 중·고등학교검도대회는 수련을 통해 심신 단련, 인격 수양하는 학생 검도인의 대련과 축제의 장입니다.<br>
                    금년 춘계 대회는 강원도 고성종합체육관에서 개최되오니 많은 참관을 부탁드립니다.
                </p>

                <div class="table-box">
                    <p class="tb-tit">- 제 61회 춘계 전국 중고등학교검도대회 -</p>
                    <ul class="tb-row clr">
                        <li class="nth-1"><p class="p-lbl">대회기간</p><p class="p-txt">2019년04월05일-04월07일</p></li>
                        <li class="nth-2"><p class="p-lbl">주&ensp;최</p><p class="p-txt">한국중고등학교검도연맹</p></li>
                        <li class="nth-3"><p class="p-lbl">요&ensp;금</p><p class="p-txt">무료</p></li>
                        <li class="nth-4"><p class="p-lbl">시&ensp;간</p><p class="p-txt">4월 5일 부터</p></li>
                        <li class="nth-5"><p class="p-lbl">위&ensp;치</p><p class="p-txt">고성종합체육관</p></li>
                        <li class="nth-6"><p class="p-lbl">상세보기</p><p class="p-txt">홈페이지 방문 </p></li>
                    </ul>
                </div>
            </div> 
        </section> 
        <!--// 대회안내 -->
           
        <!-- 위치안내 -->
        <section id="loca" class="loca-sec">
            <div class="container">
                <h3 class="loca-tit">대회장 위치안내</h3>
                <div class="loca-box clr">
                    <figure class="loca-map">
                        <img src="http://img.ocean2you.co.kr/renew/landing-brand/img_loca.jpg" alt="고성종합체육관 위치">
                    </figure>

                    <div class="table-box">
                        <ul class="tb-row clr">
                            <li class="nth-1">
                                <p class="p-lbl">대회장<br>주 소</p>
                                <p class="p-txt">
                                    강원 고성군 간성읍 수성로 87<br>
                                    <span class="s-txt">지번</span>강원도 고성군 간성읍 상리 555-1
                                </p>
                            </li>
                            <li class="nth-2"><p class="p-lbl">전 화</p><p class="p-txt">033-680-3550</p></li>
                            <li class="nth-3"><p class="p-lbl">버스정류장</p><p class="p-txt">상리, 동해상사간성영업소, 군청앞, 고성군청앞,<br> 여성회관 고성중고등학교앞</p></li>
                        </ul>
                    </div>
                </div>
            </div> 
        </section> 
        <!--// 위치안내 -->
        
        <!-- 숙소안내&객실안내 -->
        <section id="visit" class="visit-sec">
            <div class="visit-area">
                <div class="container">
                    <h2 class="tit">
                        <img class="hidden-xs" src="http://img.ocean2you.co.kr/renew/landing-brand/tit_visit.png" alt="숙소안내">
                        <img class="show-xs" src="http://img.ocean2you.co.kr/renew/m/landing-brand/tit_visit.png" alt="숙소안내">
                    </h2>
                    <p class="sub-tit">
                        강원도 <span>고성종합체육관에서 20분 거리</span>에 위치한 <br>
                        우수한 가성비와 완벽한 부대시설을 갖춘 숙소 ‘오션투유리조트’를 안내드립니다.
                    </p>

                    <div class="visit-box">
                        <div class="visit-tb-box">
                            <div class="table-box">
                                <ul class="tb-row clr">
                                    <li class="nth-1"><p class="p-lbl">숙소명</p><p class="p-txt">오션투유리조트 <a href="#none" class="btn-link" target="_blank">오션투유 홈페이지<span class="ic-rArrow"></span></a></p></li>
                                    <li class="nth-2"><p class="p-lbl">예약문의</p><p class="p-txt">1666-1243</p></li>
                                    <li class="nth-3"><p class="p-lbl">소재지</p><p class="p-txt">강원 고성군 죽왕면 삼포해변길 9</p></li>
                                    <li class="nth-4"><p class="p-lbl">단체예약문의</p><p class="p-txt">010-9094-0396</p></li>
                                    <li class="nth-5 all"><p class="p-all">※ 오션투유는 전 객실 23평형의 250객실로 수련회, 단합대회, 야유회 등 <em>학교 및 기업의 단체 숙박에 최적의 장소</em>입니다.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="room-area">
                <div class="container">
                    <h3 class="h3-tit">객실 안내</h3>
                    <p class="sub-tit">삼포해변의 아름다운 뷰를 마음 껏 즐길 수 있는 <br class="show-xs">오션투유 만의 편안한 분위기의 룸</p>

                    <ul class="ul-list clr" id="roomList">
                        <li class="li-item nth-1">
                            <figure><img src="http://img.ocean2you.co.kr/renew/group/room_1.jpg" alt="리노베이션오션뷰호텔사진"></figure>
                            <div class="d-row-1">
                                <span class="s-name">리노베이션 오션뷰 호텔</span>
                                <a href="javascript:;" class="a-btn">자세히<br>보기</a>
                            </div>
                            <div class="d-row-2">
                                편안하고 아늑한 분위기의<br>
                                침실과 독립적 공간 활용이 매력적인 룸
                            </div>

                            <div class="bxBox">
                                <ul class="roomSlider">
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_01.jpg" alt="리노베이션호텔"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_02.jpg" alt="리노베이션호텔"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_03.jpg" alt="리노베이션호텔"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_04.jpg" alt="리노베이션호텔"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_05.jpg" alt="리노베이션호텔"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reHtOc_06.jpg" alt="리노베이션호텔"></li>
                                </ul>

                                <div class="txt-box">
                                    <p class="p1">리노베이션 호텔 오션뷰</p>
                                    <p class="p2">편안하고 아늑한 분위기의 침실과 <br class="show-xs">독립적 공간 활용이 매력적인 호텔형 오션뷰 룸</p>
                                </div>

                                <a href="javascript:;" class="a-i-x a-x"></a>
                            </div>
                        </li>
                        <li class="li-item nth-2">
                            <figure><img src="http://img.ocean2you.co.kr/renew/group/room_2.jpg" alt="리노베이션오션뷰콘도사진"></figure>
                            <div class="d-row-1">
                                <span class="s-name">리노베이션 오션뷰 콘도</span>
                                <a href="javascript:;" class="a-btn">자세히<br>보기</a>
                            </div>
                            <div class="d-row-2">
                                넓은 공간 활용이 매력적이며<br>
                                취사가 가능한 콘도형 룸
                            </div>

                            <div class="bxBox">
                                <ul class="roomSlider">
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_01.jpg" alt="리노베이션콘도"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_02.jpg" alt="리노베이션코도"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_03.jpg" alt="리노베이션코도"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_04.jpg" alt="리노베이션코도"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_05.jpg" alt="리노베이션코도"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_06.jpg" alt="리노베이션코도"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_reCdOc_07.jpg" alt="리노베이션코도"></li>
                                </ul>

                                <div class="txt-box">
                                    <p class="p1">리노베이션 콘도 오션뷰</p>
                                    <p class="p2">고급스러운 색채와 편안한 분위기의 침실, <br class="show-xs">넓은 공간 활용이 매력적이며 취사가 가능한 콘도형 룸</p>
                                </div>

                                <a href="javascript:;" class="a-i-x a-x"></a>
                            </div>
                        </li>
                        <li class="li-item nth-3">
                            <figure><img src="http://img.ocean2you.co.kr/renew/group/room_3.jpg" alt="오션뷰콘도사진"></figure>
                            <div class="d-row-1">
                                <span class="s-name">오션뷰 콘도</span>
                                <a href="javascript:;" class="a-btn">자세히<br>보기</a>
                            </div>
                            <div class="d-row-2">
                                편안한 인테리어와 아름다운<br>
                                삼포해변이 한눈에 보이는 콘도형 룸
                            </div>

                            <div class="bxBox">
                                <ul class="roomSlider">
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_01.jpg" alt="일반콘도오션뷰"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_02.jpg" alt="일반콘도오션뷰"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_03.jpg" alt="일반콘도오션뷰"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_04.jpg" alt="일반콘도오션뷰"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_05.jpg" alt="일반콘도오션뷰"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_06.jpg" alt="일반콘도오션뷰"></li>
                                    <li><img src="http://img.ocean2you.co.kr/renew/facil/facil_oc_07.jpg" alt="일반콘도오션뷰"></li>
                                </ul>

                                <div class="txt-box">
                                    <p class="p1">일반콘도 오션뷰</p>
                                    <p class="p2">
                                        편안한 인테리어와 아름다운 <br class="show-xs">삼포해변이 한눈에 보이는 콘도형 오션뷰 룸<br>
                                    </p>
                                </div>

                                <a href="javascript:;" class="a-i-x a-x"></a>
                            </div>
                        </li>
                    </ul>

                    <div class="p-box">
                        <p class="p-ps">모든 객실은 4인 기준이며, 최대 7인까지 이용 가능합니다.</p>
                    </div>

                    <div class="btn-box clr">
                        <a href="#none" class="btn-group" target="_blank" title="페이지 이동">
                            <img class="hidden-xs" src="http://img.ocean2you.co.kr/renew/landing-brand/btn_group.png" alt="단체예약 문의">
                            <img class="show-xs" src="http://img.ocean2you.co.kr/renew/m/landing-brand/btn_group.png" alt="단체예약 문의">
                        </a>
                        <a href="#none" class="btn-bk" target="_blank" title="페이지 이동">
                            <img class="hidden-xs" src="http://img.ocean2you.co.kr/renew/landing-brand/btn_bk.png" alt="숙소 예약하기">
                            <img class="show-xs" src="http://img.ocean2you.co.kr/renew/m/landing-brand/btn_bk.png" alt="숙소 예약하기">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--// 숙소안내&객실안내 -->
            
        <!-- 숙소예약 문의 -->
        <section id="view" class="view-sec">
            <div class="container">
                <h2 class="tit">
                    <img class="hidden-xs" src="http://img.ocean2you.co.kr/renew/landing-brand/tit_view.png" alt="숙소예약 문의">
                    <img class="show-xs" src="http://img.ocean2you.co.kr/renew/m/landing-brand/tit_view.png" alt="숙소예약 문의">
                </h2>
                <p class="sub-tit">
                   모든 것이 완벽한 리조트, 호텔에서 아름다운 추억을 만드세요.<br>
                   <em>중대형 규모의 객실시설에서 <br class="show-xs">1~2,000명까지 동시 이용이 가능합니다!</em>
                </p>
                <div class="form-area">
                    <div class="f-top">“<span class="i-chk"></span>” 은 필수 입력 사항입니다.</div>
                    <ul class="ul-tb clr">
                        <li class="nth-1">
                            <label class="lbl i-chk" for="name">예약자</label>
                            <input type="text" class="in-txt" id="name">
                            <label class="lbl i-chk" for="phone1">연락처</label>
                            <p class="phone-box clr">
                                <input type="tel" class="in-txt" id="phone1">
                                <span class="mg-"></span>
                                <input type="tel" class="in-txt" id="phone2">
                                <span class="mg-"></span>
                                <input type="tel" class="in-txt" id="phone3">
                            </p>
                        </li>
                        <li class="nth-2">
                            <label class="lbl i-chk" for="mail">이메일</label>
                            <input type="text" class="in-txt" id="mail">
                        </li>
                        <li class="nth-3 day-box">
                            <span class="lbl">이용일</span>
                            <input type="text" class="in-txt" placeholder="체크인">
                            <select class="in-txt sel-box">
                                <option value="">당일</option>	
                                <option value="" selected="">1박 2일</option>
                                <option value="">2박 3일</option>
                            </select>
                        </li>
                        <li class="nth-4 etc">
                            <label class="lbl" for="etc">요청</label>
                            <textarea id="etc" class="in-txt txt-area"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="btn-box clr">
                    <!-- robo-box 하위에 로봇이 아닙니다 캡차를 넣어주세요 -->
                    <div class="btn-robo">
				        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class="g-recaptcha" data-sitekey="6Lc0s4sUAAAAAA6NfIZ8-QuKkQaLxs83zZjrrL8Q"></div>
                    </div>
                    <a href="#none" class="btn-com">문의하기</a>
                </div>
            </div>
        </section>
        <!--// 숙소예약 문의 -->
        
        
	</div>
	<!--//.contents-->    

	@@include('./include/_footer.html') 
</div>

</body>
</html>