<footer class="footer">
    <div class="footer-area clr">
       <!-- 문의 영역 -->
        <div class="call-area clr">
            <div class="call-box">
                <p class="p-1">예약문의</p>
                <p class="p-2">확정/변경/취소/<span class="show-xs"></span>이벤트문의</p>
                <p class="p-call">1666-1243</p>
                <p class="p-2">
                    <span class="bul">주중 09:30 ~ 25:00</span>
                    <span class="bul">주말 09:30 ~ 24:00</span>
                </p>
            </div>
            <div class="call-box">
                <p class="p-1">프론트</p>
                <p class="p-2">체크인, 체크아웃시설<span class="show-xs"></span>이용문의</p>
                <p class="p-call">033-631-3811</p>
                <p class="p-2">
                    <span>주중/주말 06시 ~ 02시</span>
                </p>
            </div>
            <div class="call-box">
                <p class="p-1">단체문의</p>
                <p class="p-2">워크샵, 학생단체, <span class="show-xs"></span>산업단체 등</p>
                <p class="p-call">010-9094-0396</p>
                <p class="p-2">
                    <span>help@ocean2you.co.kr</span>
                </p>
            </div>
        </div>
        
       <!-- 사업자 -->
       <div class="adr-area">
          <!-- 오션투유리조트 -->
           <div class="adr-box">
               <figure class="f-logo">
                   <img src="http://img.ocean2you.co.kr/renew/landing-brand/f_logo.png" alt="오션투유리조트 로고">
                   <span class="f-logo-txt">설악삼포비치 호텔앤콘도</span>
               </figure>
               <address>
                   <em>(주)이스턴월드</em>
                   대표자 : 김흥기<span class="i-l"></span>주소 : 강원 고성군 죽왕면 삼포해변길 9<br>
                   사업자등록번호 : 332-85-00016<span class="i-l"></span>통신판매업 : 제 2009-4290040-30-2-0033호
               </address>
           </div>
          <!-- 오션투유리조트 -->
           <div class="adr-box">
               <figure class="f-logo">
                   <img src="http://img.ocean2you.co.kr/renew/landing-brand/f_gcLogo.png" alt="고코투어 로고">
               </figure>
               <address>
                   <em>(주)바로네트웍스</em>
                   주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<span class="x-i-l"></span>
                   사업자등록번호 : 215-87-85373<span class="i-l"></span>통신판매업 : 제2017-서울강남-00561호<br>
                   여행업등록번호 : 제2017-07호<span class="i-l"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
                   * 바로네트웍스는 오션투유리조트의 공식 온라인 총판으로서 온라인 예약 및 결제를 대행합니다. 
               </address>
           </div>
       </div>
       
       <p class="copy">Copyright 2016  OCEAN2YOU CONE. ALL RIGHTS RESERVED</p>
    </div>
</footer>