<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>오션투유리조트 검도대회</title>
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="">
	<meta name="twitter:title" content="">
	<!--<link rel="canonical" href="도메인">-->

	<!--폰트-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">

    <!--공통 Css-->
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/landing-brand/init.css">
	<!--<link rel="stylesheet" href="../static/css/init.css">-->
	
	<link rel="stylesheet" href="http://static.ramadapt.co.kr/css/totalweb.css">

	<!--공통 Js-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>
	
	<script src="http://static.ocean2you.co.kr/js/renew/landing-brand/init.js"></script>
	<!--<script src="../static/js/init.js"></script>-->
	
	<script src="http://static.ramadapt.co.kr/js/totalweb.js"></script>

	    <!--<link rel="stylesheet" href="../static/css/init_ie8.css">-->

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/landing-brand/init_ie8.css">
	<![endif]-->
