@charset "utf-8";
// 페이지 공통 common
@import "parts/common";


body {
    font-family: $font-ntss; 
    letter-spacing: -0.5px; 
    color: #555;
}
a {
    color: inherit;
}
input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    border: 0; 
    font-family: $font-ntss; 
}

select::-ms-expand {
    display: none; 
}


.tit-box, .show-xs, .inline-xs {
    display: none;
}
.hidden-xs {
    display: block;
}
.inline-md {
    display: inline-block;
}
.container {
    @include centerThis;
}

/* header */
.header {
    z-index: 9999;
    @include centerThis($post: absolute, $wd : 100%, $ht : 107px);
    border-bottom: 1px solid $bc-gray-1;

    .header-area {
        @include centerThis($wd : 100%);
        text-align: center;

        //logo
        .logo-box {
            position: absolute;
            display: inline-block;
            top : 20px;
            left: 100px;
            a {
                display: block;
            }
        }

        //menu
        .nav {
            display: inline-block;
            .nav-list {
                li {
                    float: left;
                    padding: 0 25px;
                    a {
                        @include bx;
                        display: block;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 107px;
                        color: $fc-white-1;
                    }
                    &.on a:before, & a:hover:before {
                        content: '';
                        @include menuOn;
                    }
                }
            }
        }
    }
    
    &.on {
        position: fixed;
        height: 106px;
        top: 0;
        left: 0;
        border-bottom: 0;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#85000000,endColorstr=#85000000);
        box-shadow: 0 1px 8px 2px rgba(0,0,0,.2);
        .nav {
            .nav-list {
                li {
                    &.on a:before, & a:hover:before {
                        @include menuOn($b : 1px);
                    }
                }
            }
        }
    }
}

/* contents */
.contents {

    section {
        .tit {
            img {
                margin: 0 auto;
            }
        }
        .h3-tit {
            font-size: 30px;
            font-weight: bold;
            line-height: 30px;
            color: $fc-black-1;
        }
        .sub-tit {
            margin: 25px auto 40px;
            font-size: 20px;
            line-height: 30px;
            color: $fc-gray-3;
        }
    }

    //메인
    .main-sec {
        @include bx;
        padding-top: 108px;
        height: 700px;
        background: url(http://img.ocean2you.co.kr/renew/landing-brand/bg_visual.jpg) no-repeat center center;
        background-size: cover;

        @include bsSider;
        .bxBox.main {
            margin-top: 45px;

            //bx slider
            .bxS {
                li {
                    @include bx;
                    width: 100%;
                    height: 493px;
                    background: url(http://img.ocean2you.co.kr/renew/event/event_geomdo.jpg) no-repeat; 
                    background-size: cover;
                    //background-size: auto 500px;

                    .fc-li-box {
                        @include bx;
                        display: table;
                        width: 100%;
                        height: 100%;
                        padding: 0 125px;
                        //background: rgba(0, 0, 0, 0.65);
                        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);

                        .fc-txt-box {
                            display: table-cell;
                            width: 100%;
                            text-align: center;
                            vertical-align: middle;

                            p {
                                letter-spacing: -1px;
                                word-break: keep-all;
                                color: $fc-white-1;

                                &.fc-li-tit {
                                    margin-bottom: 20px;
                                    font-size: 30px;
                                    line-height: 42px;
                                }
                                &.fc-li-txt {
                                    font-size: 20px;
                                    line-height: 42px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //대회안내
    .info-sec {
        padding: 70px 0 25px;
        text-align: center;

        .table-box {
            @include table-base;
            .tb-tit {
                height: 58px;
                font-size: 20px;
                font-weight: 500;
                line-height: 58px;
                color: $fc-white-1;
                background: $bg-blue-2;
            }
            .tb-row {
                li {
                    float: left; 
                    width: 33.3%;
                    p {
                        border-bottom : 1px solid;
                        &.p-lbl {
                            border-color: $bc-gray-4;
                        }
                        &.p-txt {
                            border-color: $bc-gray-5;
                        }
                    }
                }
            }
        }
    }

    //위치안내
    .loca-sec {
        padding: 25px 0 100px;
        text-align: left;

        .loca-tit {
            padding-left: 31px;
            font-size: 25px;
            font-weight: 600;
            line-height: 28px;
            color: $fc-black-1;
            background: url(http://img.ocean2you.co.kr/renew/landing-brand/ico_loca.png) no-repeat 0 center;
        }

        .loca-box {
            @include bx;
            /*height: 252px;*/
            margin-top: 20px;

            .loca-map {
                @include bx;
                float: left;
                width: 580px;
                border: 1px solid $bc-gray-6;
                img {
                    position: relative;
                }
            }

            .table-box {
                float: right;
                width: 580px;
                @include table-base($b-c : $bc-gray-5, $wd : 148px, $p-l-bg : $bg-gray-4, $p-t-pl : 18px);
                .tb-row {
                    li {
                        min-height: 70px;
                        border-top: 1px solid $bc-gray-5;
                        &:first-child {
                            border-top: 0;
                        }
                        p {
                            line-height: 26px;
                            &.p-lbl {
                                border-right: 1px solid $bc-gray-5;
                            }
                            &.p-txt {
                                .s-txt {
                                    display: inline-block;
                                    width: 40px;
                                    height: 22px;
                                    margin-right: 6px;
                                    font-size: 14px;
                                    text-align: center;
                                    line-height: 22px;
                                    color: $fc-gray-1;
                                    border: 1px solid $bc-gray-5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //숙소안내&객실안내
    .visit-sec {
        text-align: center;
        
        //숙소안내
        .visit-area {
            padding-top: 65px;
            background: url(http://img.ocean2you.co.kr/renew/landing-brand/bg_visit.jpg) repeat top center;
            .sub-tit {
                color: $fc-white-1;
                > span {
                    color: $fc-blue-2;
                }
            }

            .visit-box {
                @include bx;
                .visit-tb-box {
                    @include bx;
                    height: 500px;
                    background: url(http://img.ocean2you.co.kr/renew/landing-brand/bg_visit_box.jpg) no-repeat center center;
                    .table-box {
                        @include bx;
                        @include table-base($b-c : $bc-blue-1, $pd : 12px 0 14px, $wd : 160px, $s-l-c : $fc-white-1, $p-l-bg : $bg-blue-2, $p-t-pl : 21px);
                        position: absolute;
                        width: 100%;
                        padding: 0 90px;
                        bottom: 50px;
                        .tb-row {
                            li {
                                float: left;
                                width: 50%;
                                p {
                                    @include bx;
                                    border-top: 1px solid $bc-blue-1;
                                    &.p-lbl {
                                        border-color: $bc-white-1;
                                    }

                                    &.p-all {
                                        > em {
                                            color: $fc-red-1;
                                        }
                                    }

                                    //btn
                                    .btn-link {
                                        position: absolute;
                                        display: inline-block;
                                        height: 30px;
                                        top: 50%; 
                                        margin: -15px 0 0 28px;
                                        padding: 0 11px;
                                        font-size: 14px;
                                        line-height: 30px;
                                        border-radius: 3px;
                                        background: $bg-gray-5;
                                        .ic-rArrow {
                                            @include arrow-r-ie8;
                                        }
                                    }
                                }
                                &.nth-1, &.nth-2 {
                                    p {
                                        &.p-lbl {
                                            border-top: 0;
                                        }
                                        &.p-txt {
                                            border-top: 0;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        //객실안내
        .room-area {
            @include bx;
            padding: 50px 0 100px;
            text-align: center;

            .sub-tit {
                margin: 12px auto 50px;
            }

            .ul-list {
                .li-item {
                    float: left;
                    /*position: relative;*/
                    width: 29.5%; 
                    margin-left: 5.45%;
                    &:first-child {
                        margin-left: 0;
                    }
                    figure {
                        img {
                            width: 100%;
                        }
                    }

                    div[class*='d-row'] {
                        position: relative;
                        text-align: left;

                        &.d-row-1 {
                            margin-top: 20px; 
                            height: 39px;
                            .s-name {
                                position: relative;
                                top: 3px;
                                font-size: 20px; 
                                font-weight: bold;
                                line-height: 1.1;  
                                letter-spacing: -0.2px;
                                color: $fc-gray-3;  
                            }
                            .a-btn {
                                z-index: 1;
                                position: absolute;
                                display: inline-block;
                                top: 0;
                                right: 0; 
                                padding: 12px;
                                font-size: 14px;
                                line-height: 1.3;
                                letter-spacing: -0.5px;
                                text-align: center;
                                color: $fc-white-1;
                                background: $bg-green-1;
                            }
                        }

                        &.d-row-2 {
                            font-size: 17px;
                            line-height: 1.4;
                            letter-spacing: -0.2px;
                            color: $fc-gray-1;
                        }
                    }

                    @include bsSider($a-wd : 43px);

                    .bxBox {
                        z-index: 2;
                        position: absolute;
                        visibility: hidden;
                        overflow: hidden;
                        width: 100%;
                        bottom: 100px;
                        left: 0;
                        border: 5px solid $bc-green-1;
                        .bx-wrapper {
                            img {
                                margin: -1px 0 0 0;
                            }
                        }

                        //객실안내 텍스트
                        .txt-box { 
                            position: absolute;
                            width: 100%;
                            top: 160px;
                            left: 0;
                            text-align: center;
                            p {
                                letter-spacing: -0.2px;
                                color: $fc-white-1;
                                &.p1 {
                                    font-size: 30px;
                                    font-weight: 500;
                                }

                                &.p2 {
                                    margin-top: 16px;
                                    font-size: 20px;
                                    line-height: 1.6;
                                }

                            }

                        }

                        //객실안내 X버튼
                        .a-x {
                            @include x-btn-ie8;
                        }
                    }
                }
            }

            .p-box {
                margin-top: 29px;
                padding-top: 20px;
                border-top: 1px solid $bc-gray-8;
                .p-ps {
                    @include p-ps;
                }
            }

            .btn-box {
                display: inline-block;
                margin-top: 50px;
                text-align: center;
                a {
                    display: inline-block;
                    float: left;
                    & + a {
                        margin-left: 30px;
                    }
                }
            }
        }
    }


    //숙소예약 문의
    .view-sec {
        padding: 68px 0 100px;
        text-align: center;
        background: $bg-gray-6;

        .sub-tit {
            em {
                color: $fc-red-2;
            }
        }

        .form-area {
            @include bx;
            width: 685px;
            margin: 0 auto;
            color: $fc-gray-3;

            .f-top {
                padding: 10px 0;
                font-size: 14px;
                text-align: right;
                .i-chk {
                    padding-left: 22px;
                    @include chk-ie8($l : 6px, $m-t : -9px);
                }
            }

            .ul-tb {
                border: 1px solid $bc-gray-5;
                border-left: 0;
                border-right: 0;

                li {
                    @include bx;
                    display: table;
                    width: 100%;
                    padding: 9px 16px 9px 20px;
                    text-align: left;
                    border-top: 1px solid $bc-gray-5;

                    &:first-child {
                        border-top: 0;
                    }

                    @mixin form-com {
                        @include bx;
                        display: inline-block;
                        height: 30px;
                        font-size: 16px;
                        line-height: 30px;
                    }
                    .lbl {
                        @include form-com;
                        width: 74px;
                        padding-left: 10px;
                        &.i-chk { 
                            @include chk-ie8($l : -3px);
                        }
                    }
                    .in-txt {
                        @include form-com;
                        width: 200px;
                        padding: 0 6px;
                        vertical-align: middle;
                        border: 1px solid $bc-black-1;
                        background: $bg-white-1;
                        & + .lbl {
                            margin-left: 35px;
                        }
                        &.sel-box {
                            margin-left: 12px;
                            background: $bg-white-1 url(http://img.ocean2you.co.kr/renew/group/i_dArr.png) no-repeat;
                            background-size: 17px auto;
                            background-position: 173px 9px;
                        }
                        &.txt-area {
                            resize: none;
                            width: 565px;
                            height: 50px;
                        }
                    }

                    .phone-box {
                        @include form-com;
                        .in-txt {
                            width: 70px;
                        }
                        .mg- {
                            //ie8일때 width, margin 다름
                            display: inline-block;
                            width: 7px; 
                            height: 1px;
                            margin: 0 0;
                            line-height: 30px;
                            background: $bg-black-1;
                        }
                    }
                }
            }
        }

        .btn-box {
            @include bx;
            width: 685px;
            margin: 25px auto 0;
            padding: 0 22px;

            [class*="btn-"] {
                @include bx;
                display: block;
                float: left;
                width: 48%;
                height: 74px;
                vertical-align: middle;
            }

            .btn-com {
                float: right;
                font-size: 20px;
                line-height: 74px;
                text-align: center;
                color: $fc-white-1;
                border-radius: 8px;
                background: $bg-black-2;
            }
        }
    }



}



/* footer */
.footer {
    @include centerThis($wd : 100%, $pd : 39px 0 70px);
    border-top: 1px solid $bc-gray-2;

    .footer-area {
        @include centerThis;

        
        /* 문의 영역 */
        .call-area {
            @include bx;
            float: right;

            .call-box {
                @include bx;
                float: left;
                width: 170px;
                height: 160px;
                margin-left: 9px;
                text-align: center;
                padding: 20px 0 15px;
                border: 1px solid $bc-gray-3;
                background: $bg-gray-2;
                &:first-child {
                    margin-left: 0;
                }

                p {
                    text-align: center;
                    &.p-1 {
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 25px;
                        color: $fc-gray-1;
                    }
                    &.p-2 {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 25px;
                        letter-spacing: -1.5px;
                        color: $fc-gray-2;
                        span {
                            line-height: 20px;
                            letter-spacing: -0.5px;
                            &.bul {
                                position: relative;
                                display: block;
                                padding-left: 7px;
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    width: 2px;
                                    height: 2px;
                                    top: 50%;
                                    margin: -1px 0 0 -7px;
                                    background: $bg-gray-1;
                                }
                            }
                        }

                    }
                    &.p-call {
                        padding: 4px 0;
                        font-size: 22px;
                        font-weight: bold;
                        line-height: 25px;
                        color: $fc-gray-1;
                    }
                }
            }
        }

        /* 사업자 */
        .adr-area {
            @include bx;
            float: left;

            .adr-box {
                @include bx;
                display: table;

                @mixin table-cell {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                }

                .f-logo {
                    @include table-cell;
                    width: 150px;
                    img {

                    }
                    .f-logo-txt {
                        display: block;
                        margin-top: 9px;
                        font-size: 13px;
                        letter-spacing: -1.5px;
                        color: #aaa;
                    }
                }
                address {
                    @include table-cell;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 18px;
                    letter-spacing: -1px;
                    color: $fc-gray-2;

                    em {
                        display: block;
                        font-size: 14px;
                        font-weight: 500;
                        color: $fc-gray-1;
                    }
                    .i-l {
                        display: inline-block;
                        position: relative;
                        width: 19px;
                        height: 100%;
                        &:before{
                            content: '';
                            @include menuOn($wd : 1px, $ht : 14px, $t : 50%, $b : auto, $l : 50%, $mg : -12px 0 0 0, $bg : $bg-gray-1)
                        }
                    }
                    .x-i-l {
                        position: relative;
                        display: block;
                    }
                }
            }
        }

        /* copy */
        .copy {
            clear: both;
            padding-top: 36px;
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;
            text-align: center;
            color: $fc-gray-2;
        }
    }
}
